body {
  min-height: 100vh;
}

.main-section {
  position: relative;
  min-height: calc(100vh - 4rem - 90px);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: auto;
}

.ml-auto,
.mx-auto {
  margin-right: 0 !important;
}
